In [1]:
import pandas as pd
# titanic.url='https://github.com/sehakflower/data/bolb/main/titanic_1309.xlsx?raw=true'
titanic_url='https://github.com/sehakflower/data/blob/main/titanic_1309.xlsx?raw=true'

titanic=pd.read_excel(titanic_url, sheet_name='total')
titanic_df=titanic.drop(['body','home.dest'],axis=1)
titanic_df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN

In [7]:
titanic_df['age_cat']=pd.cut(titanic_df['age'], 
                             bins=[0,3,7,15,30,60,100],
                             include_lowest= True, 
                             labels=['baby','children','teenage','young','adult','old'])
titanic_df.groupby('age_cat').mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_1016\3719591950.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic_df.groupby('age_cat').mean()

TypeError: agg function failed [how->mean,dtype->object]